<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
<style type="text/css">
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-size: 10px;
  }
  table {
    width: 100vw;
  }
  .info-wrapper {
    padding: 20px;
  }
  .error {
    color: red;
    padding-top: 20px;
    font-size: 12px;
  }
  .showTable {
    font-size: 10px;
  }
  .deal_location {
    width: 180px;
  }
  td {
    text-align: center;
  }
  th {
    min-width: 60px;
  }
</style>
</head>
<body>
  <%- data %>
</body>
</html>
